/* 전체 홈 컨테이너 */
.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow-x: hidden; /* 가로 드래그 방지 */
  margin: 8px;
  background-color: #f0f2f5;
}

/* 로고 글씨체 적용 */
@font-face {
  font-family: "Cafe24Shiningstar";
  src: url(../font/Cafe24Shiningstar-v2.0.ttf);
}



/* 모바일 화면용 홈 페이지 폼 */
.home-form-mobile {
  background-color: white;
  padding: 20px;
  border-radius: 12px;
  width: 100%;
  height: 810px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.home-form-mobile .mobile-header{ 
    display: flex;
    justify-content: space-between; /* 로고 왼쪽, 버튼 오른쪽 */
    align-items: center;
    padding: 8px 15px;
    background-color: white;
    margin-top: -18px;
}


.home-form-mobile h1 {
  font-size: 36px;
  color: #143be8;
  margin: 0;
}

.home-form-mobile h2 {
  text-align:center;
  margin-top: 10px;
  margin-bottom: 30px;
}
.home-form-mobile h3 {
  text-align: left;
  margin-top: 40px;
  margin-bottom: 30px;
}
.home-form-mobile .fontLogo {
  
    font-weight: bold;
    font-family: "Cafe24Shiningstar";
    color: #143be8;
    margin: 0;
}
.home-form-mobile .button-group {
  display: flex;
  gap: 10px;
}

.home-form-mobile .auth-button {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  background-color: white;
  color: black;
  font-weight: bold;
  cursor: pointer;
}

.home-form-mobile .auth-button:hover {
  background-color: #ededed;
  border-radius: 12px;
}


.home-form-mobile .form-group {
  margin-bottom: 15px;
}

/* 오늘의 운동 스타일 */
.home-form-mobile .today-exercise {
  background: rgb(255, 255, 255);
  border-color: #838383;
  padding: 30px;
  border-radius: 12px;
  margin-top: 8px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
}

.home-form-mobile .exercise-content {
  display: flex;
  justify-content:center;
}

.home-form-mobile .exercise-title {
  font-size: 16px;
  font-weight: bold;
  color: black;
}


/* 크루 리스트 스타일 */
.home-form-mobile .crew-list {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory; /*스와이프 시 정렬 */
  gap: 10px;
  padding: 10px;
  margin-top: -15px;
}

.home-form-mobile .crew-card {
  width: 109px;
  height: 155px;
  background: #e0e0e0;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  scroll-snap-align: center; /* 각 카드가 화면에 맞춰 정렬되도록 */
  flex-shrink: 0; /* 크기 고정*/
  display: flex;
  justify-content: center;
  align-items: center;
}
/* 스크롤바 숨기기 옵션*/
.home-form-mobile .crew-list::-webkit-scrollbar {
  display: none;
}

.home-form-mobile.crew-list {
  -ms-overflow-style: none; /* IE */
  scrollbar-width: none; /* Firefox */
}

/* 관심사 리스트 스타일 */
.home-form-mobile .interest-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.home-form-mobile .interest-card {
  height: 40px;
  background: #e0e0e0;
  border-radius: 8px;
}

/* 하단 네비게이션 스타일 */
.menu-bar-footer {
  width: 100%; /* 전체 너비 */
  bottom: 0; /* 화면 하단에 위치 */
  display: flex;
}


/* 모바일 화면에서 스크롤해도 고정 유지 */
@media (max-width: 768px) {
  .menu-bar-footer {
    position: fixed;
  }
}


/* PC 화면용 홈 페이지 폼 */
.home-form-pc {
  background-color: white;
  padding: 40px;
  overflow-x: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: calc(100vh-60px); /* 헤더를 제외한 전체 높이*/
  margin: 0 auto; /*화면 중앙에 정렬 */
  box-sizing: border-box; /* 패딩 포함 크기 계산*/
}

.home-form-pc h1 {
  font-size: 50px;
  color: #143be8;
  background-color: white;
}

.home-form-pc h2 {
  text-align: left;
  margin-bottom: 30px;
}

.home-form-pc h3 {
  text-align: left;
  font-size: 20px;
  margin: 10px;
}


.home-form-pc .form-group {
  width: 100%;
  margin-bottom: 50px;
}


.home-form-pc .pc-header {
  display: flex;
  justify-content: space-between; /* 로고 왼쪽, NavBar 오른쪽 */
  align-items: center;
  padding: 0 40px;
  gap: 450px;  /*로고와 NavBar 사이 간격 조정*/
  background-color: white;
  margin-top: -30px;
}

.home-form-pc .fontLogo{
  font-size: 1.8rem;
  font-weight: bold;
  color: #143be8;
  margin: 0;
  margin-right: 30px;
  cursor: pointer;
}



/* 오늘의 운동 스타일 */
.home-form-pc .today-exercise {
  background: #e0e0e0;
  height: 250x;
  padding: 16px;
  border-radius: 12px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.home-form-pc .exercise-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 150px;
}

.home-form-pc .exercise-title {
  font-size: 18px;
  font-weight: bold;
  color: #143be8;
}

.home-form-pc .exercise-play {
  font-size: 18px;
  background: none;
  border: none;
  cursor: pointer;
  color: #060606;
}

/* 크루 리스트 스타일 */
.home-form-pc .crew-list {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory; /*스와이프 시 정렬 */
  gap: 15px;
  padding: 10px;
  margin: 10px;
}

.home-form-pc .crew-card {
  width: 140px;
  height: 180px;
  background: #e0e0e0;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  scroll-snap-align: center; /* 각 카드가 화면에 맞춰 정렬되도록 */
  flex-shrink: 0; /* 크기 고정*/
  display: flex;
  justify-content: center;
  align-items: center;
}
/* 스크롤바 숨기기 옵션*/
.home-form-pc .crew-list::-webkit-scrollbar {
  display: none;
}

.home-form-pc .crew-list {
  -ms-overflow-style: none; /* IE */
  scrollbar-width: none; /* Firefox */
}

/* 관심사 리스트 스타일 */
.home-form-pc .interest-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin: 10px;
}

.home-form-pc .interest-card {
  height: 65px;
  background: #e0e0e0;
  border-radius: 12px;
  margin-left: 10px;
}